{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Rango - About{% endblock %}
{% block body_block %}

    <div class="jumbotron">
        <h1>All About Rango!</h1>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
                </div>
            </div>

                <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{% static "images/rango2.jpg" %}" alt="Picture of Rango" />
                </div>
            </div>

                <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{% static "images/rango3.jpg" %}" alt="Picture of Rango" />
                </div>
            </div>
        </div>
        <p>
            Rango is a 2011 American computer-animated action comedy western film directed by Gore Verbinski and produced by Verbinski, Graham King and John B. Carls.
            Rango was a critical and commercial success, and won the Academy Award for Best Animated Feature.[3]

            In the film, Rango, a chameleon, accidentally ends up in the town of Dirt, an outpost that is in desperate need of a new sheriff.
            It features the voices of actors Johnny Depp, Isla Fisher, Bill Nighy, Abigail Breslin, Alfred Molina, Harry Dean Stanton, Ray Winstone, Timothy Olyphant, Stephen Root and Ned Beatty.
            It was released to theaters on March 4, 2011.
        </p>


    </div>





{% endblock %}