<!DOCTYPE html>

{% load staticfiles %}

<html>
     <head>
        <meta charset="UTF-8">
        <title>{% block title %}How to Tango with Django!{% endblock %}</title>


        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

        <style>
            body { padding-bottom: 70px;
                    padding-top: 70px;
            }
        </style>


    </head>

    <body>

     <!-- Navigation Bar w/ Main Links-->

     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Gman Inc.</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'rango:index' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
             <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Applications
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Rango</a></li>
                <li><a href="{% url 'polls:index' %}">Poll Application</a></li>
                <li><a href="{% url 'rango:add_category' %}">Form: Add Category</a></li>
              </ul>
            </li>
            <li><a href="{% url 'rango:about' %}">About</a></li>
            <li><a href="{% url 'rango:contact_us' %}"><span class="glyphicon glyphicon-phone"></span> Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
  <!--End of navigation bar at the very top of the page-->

     <div class="container">
     {% block body_block %}

    {% endblock %}
     </div>






     <!--Navigation bar at the very bottom of the screen-->
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <footer>
                        <p class="navbar-text">&copy; Copyright 2015 Gman Inc.</p>
                    </footer>
                </div>
            </div>
        </div>
    </nav>


    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>