{% extends 'rango/base.html' %}

{% block title %}Rango - {{ category_name }}{% endblock %}
{% block body_block %}

        <div class="page-header">
            <h1>{{ category_name }}</h1>
        </div>

        {% if category %}

            <a href="{% url 'rango:add_page' category.slug %}">Add Page</a>
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <div class="alert alert-info" role="alert">
                    <p>No pages currently in category.</p>
                </div>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}


{% endblock %}