<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>Rango</title>
    </head>
    <body>

        <h1>Rango says...hello world!</h1>

        {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        <a href="{% url 'rango:about' %}">About</a> <br></br>
        <a href="{% url 'rango:add_category' %}">Form: Add Category</a> <br></br>
        <a href="{% url 'polls:index' %}">Poll Application</a> <br></br>

        <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
    </body>

</html>